@import "./_fonts.css";

@tailwind base;
@tailwind components;

@tailwind utilities;

@layer base {
  :root {
    --bg-color: #FFFFFF;
    --fg-color: #000000;
    --snd-color: #000000;

    --light-filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(35deg) brightness(107%) contrast(101%);
  }
}

@layer utilities {
  .gdc-type {
    h1 {
      font-family: "Hopalope Bubble";
      font-weight: 400;
    }

    h2, h3 {
      font-family: "BM Space";
      font-weight: 400;
    }
  }
  
  .gdc-orange {
    --bg-color: #E7401D;
    --fg-color: #FFFFFF;
    --snd-color: #FBEA1B;
  
    img.icon {
      filter: var(--light-filter);
    }
  }

  .gdc-pink {
    --bg-color: #F6B9C4;
    --snd-color: #D7E8DD;
  }

  .gdc-cyan {
    --bg-color: #D7E8DD;
    --snd-color: #E7401D;
  }

  .gdc-yellow {
    --bg-color: #FBEA1B;
    --snd-color: #F6B9C4;
  }

  .gdc-sp {
    --bg-color: #FBEA1B;
    --snd-color: #FFFFFF;
  }
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

html {
  width: 100%;
  font-family: 'Helvetica Now';
  background-color: black;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

a {
  color: var(--foreground-color);
}

.link {
  text-decoration: underline solid;
}

.icon-white {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(35deg) brightness(107%) contrast(101%);
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}

h2,
h3 {
  font-weight: 600;
  line-height: 1;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-variation-settings:
      "wdth" 100,
      "wght" 400,
      "opsz" 30;
}

strong {
  font-variation-settings:
      "wdth" 100,
      "wght" 700,
      "opsz" 8;
}